<div class="container">
    <div class="row">
        <h1>{{contacto.nombre + ' ' + contacto.apellido}}</h1>
        <p>{{contacto.empresa}}</p>
    </div>
    <div class="row">
        <div class="col">
            Telefono: <br>
            <h2>{{contacto.lada}} {{contacto.telefono ?? 'No se encontro ningun telefono'}} </h2>
        </div>
        <div class="col">
            Correo: <br>
            <h2>{{contacto.email ?? 'No se encontro ningun correo'}} </h2>
        </div>
        <div class="col">
            Dirección: <br>
            @if(contacto.calle && contacto.numero_externo && contacto.colonia && contacto.municipio && contacto.estado){
                <h2>{{contacto.calle + ' ' + contacto.numero_externo + ', ' + contacto.colonia + ', ' + contacto.municipio }} </h2>
                
            }
        </div>
    </div>
    <div class="row"></div>
</div>
