<table class="table table-bordered table-sm table-dark">
    <thead>
        <tr>
            <th rowspan="2" class="text-center align-middle">ID</th>
            <th rowspan="2" class="text-center align-middle">Nombre</th>
            <th rowspan="2" class="text-center align-middle">Apellido</th>
            <th rowspan="2" class="text-center align-middle">Empresa</th>
            <th rowspan="2" class="text-center align-middle">Teléfono</th>
            <th rowspan="2" class="text-center align-middle">Email</th>
            <th colspan="8" class="text-center">Dirección</th>
            <th rowspan="2" class="text-center align-middle">Acciones</th>
        </tr>
        <tr>
            <th class="text-center align-middle">Calle</th>
            <th class="text-center align-middle">Numero Ext.</th>
            <th class="text-center align-middle">Numero Int.</th>
            <th class="text-center align-middle">Colonia</th>
            <th class="text-center align-middle">Municipio</th>
            <th class="text-center align-middle">Estado</th>
            <th class="text-center align-middle">País</th>
            <th class="text-center align-middle">CP</th>
        </tr>
    </thead>
    <tbody>
        @for(contacto of contactos; track contacto.id){
            <tr>
                <td>{{contacto.id}}</td>
                <td>{{contacto.nombre}}</td>
                <td>{{contacto.apellido}}</td>
                <td>{{contacto.empresa}}</td>
                <td>{{contacto.telefono}}</td>
                <td>{{contacto.email}}</td>
                <td>{{contacto.calle}}</td>
                <td>{{contacto.numero_externo}}</td>
                <td>{{contacto.numero_interno}}</td>
                <td>{{contacto.colonia}}</td>
                <td>{{contacto.municipio}}</td>
                <td>{{contacto.estado}}</td>
                <td>{{contacto.pais}}</td>
                <td>{{contacto.codigo_postal}}</td>
                <td>
                    <button [routerLink]="['formulario', contacto.id]" class="btn btn-primary" title="Editar"><i class="bi bi-pencil"></i></button>
                    <button [routerLink]="['detalle', contacto.id]" class="btn btn-success"  title="Detalles"><i class="bi bi-eye"></i></button>
                    <!-- <button data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-danger"  title="Eliminar" type="button"><i class="bi bi-trash"></i></button> -->
                    <button (click)="eliminarContacto(contacto.id)" class="btn btn-danger"  title="Eliminar" type="button"><i class="bi bi-trash"></i></button>
                </td>
            </tr>
        }
    </tbody>
</table>