<div class="container-fluid">
  <div class="row">
    <h1>Libreta de Direcciones</h1>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" routerLink="">Inicio</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="formulario">Agregar contacto</a>
                </li>
            </ul>
            </div>
        </div>
    </nav>
  </div>
  <router-outlet></router-outlet>
</div>