<div class="row">
    <form [formGroup]="formularioContacto" (ngSubmit)="saveContacto()">
        <div class="mt-3 mb-3">
            <label for="nombre" class="form-label">Nombre(s)</label>
            <input type="text" class="form-control" id="nombre" formControlName="nombre">
        </div>
        <div class="mt-3 mb-3">
            <label for="apellido" class="form-label">Apellido(s)</label>
            <input type="text" class="form-control" id="apellido" formControlName="apellido">
        </div>
        <div class="mt-3 mb-3">
            <label for="empresa" class="form-label">Empresa</label>
            <input type="text" class="form-control" id="empresa" formControlName="empresa">
        </div>
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
</div>
<!-- En desarrollo... -->
<div class="row">
    <div class="col">
        <form [formGroup]="formularioTelefono" (ngSubmit)="saveTelefono()">
            <div class="input-group mt-3">
                <input formControlName="lada" type="text" class="form-control" placeholder="123 456 7890" aria-label="Lada">
                <input formControlName="telefono" type="text" class="form-control" placeholder="123 456 7890" aria-label="Telefono">
                <button (click)="agregarTelefono()" class="btn btn-success" type="button">Agregar</button>
                <button class="btn btn-primary" type="submit">Guardar</button>
            </div>
            <div class="input-group mt-3 ">
                <textarea class="form-control" formControlName="listaTelefonos" id="listaTelefonos"></textarea>
            </div>
        </form>
    </div>
    <div class="col">
        <form [formGroup]="formularioEmail" (ngSubmit)="saveEmail()">
            <div class="input-group mt-3">
                <input type="text" class="form-control" placeholder="Email" aria-label="Email">
                <button class="btn btn-success" type="button">Agregar</button>
                <button class="btn btn-primary" type="submit">Guardar</button>
            </div>
            <div class="input-group mt-3 ">
                <textarea class="form-control" formControlName="listaCorreos" id="listaCorreos"></textarea>
            </div>
        </form>
    </div>
</div>
<!-- <div class="row">
    <form [formGroup]="formularioDireccion" (ngSubmit)="saveDireccion()">
        <div class="mt-3 mb-3">
            <label for="calle" class="form-label">Calle</label>
            <input type="text" class="form-control" id="calle" formControlName="calle">
        </div>
        <div class="mt-3 mb-3">
            <label for="numero_externo" class="form-label">No. Externo</label>
            <input type="text" class="form-control" id="numero_externo" formControlName="numero_externo">
        </div>
        <div class="mt-3 mb-3">
            <label for="numero_interno" class="form-label">No. Interno</label>
            <input type="text" class="form-control" id="numero_interno" formControlName="numero_interno">
        </div>
        <div class="mt-3 mb-3">
            <label for="colonia" class="form-label">Colonia</label>
            <input type="text" class="form-control" id="colonia" formControlName="colonia">
        </div>
        <div class="mt-3 mb-3">
            <label for="municipio" class="form-label">Municipio</label>
            <input type="text" class="form-control" id="municipio" formControlName="municipio">
        </div>
        <div class="mt-3 mb-3">
            <label for="estado" class="form-label">Estado</label>
            <input type="text" class="form-control" id="estado" formControlName="estado">
        </div>
        <div class="mt-3 mb-3">
            <label for="pais" class="form-label">Pais</label>
            <input type="text" class="form-control" id="pais" formControlName="pais">
        </div>
        <div class="mt-3 mb-3">
            <label for="codigo_postal" class="form-label">Codigo Postal</label>
            <input type="text" class="form-control" id="codigo_postal" formControlName="codigo_postal">
        </div>
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
</div> -->